@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap);

.logo_name {
  color: #dbb648;
  font-family: 'Comfortaa';
  padding: 12px;
  user-select: none;
}

p {
  color: whitesmoke;
  padding: 13px;
}

.headder {
  background-color: #202020;
}

body {
  background-color: #282828;
}
