@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap);

body {
  background-color: #282828;
}

p {
  color: whitesmoke;
}

.header {
  background-color: #202020;
  display: flex;
  padding: 12px;
}

.logo_name {
  color: #dbb648;
  font-family: 'Comfortaa';
  user-select: none;
  font-size: 32px;
}

.content {
  padding: 15px;
  font-size: 16px;
}
